<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resetPassword.css">
    <title>Magic papers reset password</title>
</head>
<body>


    <form action="">

        <h1>Reset password</h1>
        <h3>Please make sure that you use the new password on your next login attempt.</h3>
        <div class="inputPassword">
            <label for="firstPassword">Password</label>
            <input type="password" class="firstPassword">
        </div>

        <div class="inputPassword">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="confirmPassword">
        </div>

        <button type="submit">Reset</button>
    </form>
    
</body>
</html>