.mainPageLogin {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* left */
.mainLeft, .mainRight {
    border: 2px solid red;
    flex: 1 1 500px;
}

.mainLeft {
    background: rgb(255, 255, 255);
    
}

.centeredLeft {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
}

.centeredLeft h1 {
    margin: 20px 0 20px 0;
    font-size: 2em;
}

.centeredLeft p {
    color: gray;
}

.commingSoon {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;

}

.disabledBtn {
    flex: 1 1 400px;
    max-width: 300px;
    height: 40px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/* Right */
.mainRight {

}



/* 
Mediaquerries  */
@media only screen and (max-width: 800px) {
    .mainPageLogin {
      padding: 10px;
    }
  }