.addTicketForm {
    margin-bottom: 50px;
    padding: 5px;
}

.addTicketForm textarea {
    width: 100%;
    padding: 10px;
}

.addTicketForm input {
    height: 34px;
    width: 120px;
    border: none;
    background-color: black;
    color: #fa8100;
    border-radius: 5px;
}