.form {
    border: 2px solid red;
}

.alternativeOption {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    color: grey;
    font-size: .8em;
}


.loginForm {
    border: 2px solid red;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer input {
    margin: 5px 0 25px 0;
    height: 35px;
    max-width: 300px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}

.inputContainer label {
    font-weight: lighter;
    font-size: .8em;
}

.loginBtn {
    display: flex;
}

.loginBtn button {
    flex: 1 1 400px;
    max-width: 300px;
    height: 40px;
    background: #6345c0;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    font-weight: lighter;
}